$svg-common 
	background url(../sprite/svg-sprite.svg) no-repeat

.svg-icons-facebook
	@extend $svg-common
	background-position 0 0

.svg-icons-facebook-dims
	width 20px
	height 20px

.svg-icons-instagram
	@extend $svg-common
	background-position 50% 0

.svg-icons-instagram-dims
	width 20px
	height 20px

.svg-icons-soundcloud
	@extend $svg-common
	background-position 0 100%

.svg-icons-soundcloud-dims
	width 20px
	height 20px

.svg-icons-twitter
	@extend $svg-common
	background-position 50% 100%

.svg-icons-twitter-dims
	width 20px
	height 20px

.svg-icons-youtube
	@extend $svg-common
	background-position 100% 0

.svg-icons-youtube-dims
	width 20px
	height 20px

