$svg-common 
	background url("../sprite/svg-sprite.svg") no-repeat

.svg-icon_Facebook
	@extend $svg-common
	background-position 0 0

.svg-icon_Facebook-dims
	width 20px
	height 20px

.svg-icon_GooglePlus
	@extend $svg-common
	background-position 50% 0

.svg-icon_GooglePlus-dims
	width 20px
	height 20px

.svg-icon_Instagram
	@extend $svg-common
	background-position 0 50%

.svg-icon_Instagram-dims
	width 20px
	height 20px

.svg-icon_LinkedIn
	@extend $svg-common
	background-position 50% 50%

.svg-icon_LinkedIn-dims
	width 20px
	height 20px

.svg-icon_Pinterest
	@extend $svg-common
	background-position 100% 0

.svg-icon_Pinterest-dims
	width 20px
	height 20px

.svg-icon_SoundCloud
	@extend $svg-common
	background-position 100% 50%

.svg-icon_SoundCloud-dims
	width 20px
	height 20px

.svg-icon_Twitter
	@extend $svg-common
	background-position 0 100%

.svg-icon_Twitter-dims
	width 20px
	height 20px

.svg-icon_YouTube
	@extend $svg-common
	background-position 50% 100%

.svg-icon_YouTube-dims
	width 20px
	height 20px

