.svg-icon_Facebook {
	background: url("../sprite/svg-sprite.svg") 0 0 no-repeat;
}

.svg-icon_Facebook-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_Google+ {
	background: url("../sprite/svg-sprite.svg") 33.333333333333336% 0 no-repeat;
}

.svg-icon_Google+-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_GooglePlus {
	background: url("../sprite/svg-sprite.svg") 0 50% no-repeat;
}

.svg-icon_GooglePlus-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_Instagram {
	background: url("../sprite/svg-sprite.svg") 33.333333333333336% 50% no-repeat;
}

.svg-icon_Instagram-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_LinkedIn {
	background: url("../sprite/svg-sprite.svg") 66.66666666666667% 0 no-repeat;
}

.svg-icon_LinkedIn-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_Pinterest {
	background: url("../sprite/svg-sprite.svg") 66.66666666666667% 50% no-repeat;
}

.svg-icon_Pinterest-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_SoundCloud {
	background: url("../sprite/svg-sprite.svg") 0 100% no-repeat;
}

.svg-icon_SoundCloud-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_Twitter {
	background: url("../sprite/svg-sprite.svg") 33.333333333333336% 100% no-repeat;
}

.svg-icon_Twitter-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_WhatsApp {
	background: url("../sprite/svg-sprite.svg") 66.66666666666667% 100% no-repeat;
}

.svg-icon_WhatsApp-dims {
	width: 20px;
	height: 20px;
}

.svg-icon_YouTube {
	background: url("../sprite/svg-sprite.svg") 100% 0 no-repeat;
}

.svg-icon_YouTube-dims {
	width: 20px;
	height: 20px;
}

